.student-list-header{
    width: 1152px;
    height: 123.5px;
    margin-top: 80px;
    background-color: white;
    margin-bottom: 12px;
}

.student-navigation-frame{
    width: 1120px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
}

.schedule-frame{
    display: flex;
    width: 1120px;
    height: 47.5px;
    margin-left: auto;
    margin-right: auto;
}

.empty-container{
    width: 150px;
}
.schedule-day{
    display: flex;
    gap: 30px;
    width: 574.4px;
    height: 47.5px;
}

.day-btn{
    width: 68px;
    height: 40px;
    text-align: center;
}

.day-frame{
    display: flex;
    gap: 10px;
    width: 226.4px;
    height: 32px;
    gap: 3.4 px;
    align-items: center;
    justify-content: center;
}

.schedule-btn-group{
    display: flex;
    width: 360;
    height: 42;
}

.search-schedule-btns{
    display: flex;
        width: 40px;
        height: 40px;
        border: none;
}

.today-date{
    width: 156px;
    height: 32px;
}

.path{
    width: 25.2px;
    height: 25.2px;
}