.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    background-color: rgba(92, 92, 92, 0.5);
    z-index: 9999;
}

.backdrop.is-hidden {
    opacity: 1;
    /* pointer-events: none; */
}

.main-week-schedule{
    width: 500px;
    min-height: 701px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: auto;
    border: none;
    background-color: white;
}

.title{
    /* align-items: center;
    justify-content: center; */
    padding-left: 100px;
}
.week-schedule{
    display: flex;
    gap: 25px;
}
.swich{
    width: 136px;
    height: 315px;
    padding-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
}

.days-of-the-week{
    width: 105px;
    height: 315px;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
}
.save{
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 334px;
    height: 94px;
   
}

.save-btn{

    width: 82px;
    height: 42px;
    background-color: #77BB00;
    border-radius: 5%;
    border: none;
    color: white;
    margin-bottom: 20px;
    margin-left: 40%;
}

.settings-block{
    padding-top: 20px;
}