.gallery-wrapper h1{
    text-align: center;
    font: italic small-caps bold 56px cursive;   
}

.gallery-container{
    display: grid; 
    gap: 40px; 
    grid-template-columns: repeat(4, 5fr);
    width: 100%;   
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;    
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 250px; 
    padding-bottom: 250px; 
    height: 1300px;
    overflow: scroll;
    
} 
.gallery-wrapper{
    width: 100%; 
    padding-bottom: 250px; 
    
}
